
.td{
    font-family: "Mongolian Baiti";
    color: #9FC2F8;
    
}

*{
    color: white;
}
.hihi{
    color: yellow;
}

.do{
    color: red;
}
body{
    background-color: #595547;
}

h1{
    font-size: 40pt;
}